.user-reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.authentication-container {
  display: flex;
  justify-content: space-around;
}

.ui.card {
  margin: 1em 0 !important;
}